/*
 * SPDX-FileCopyrightText: 2024 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.absoluteLeftIconButton {
    position: absolute !important;
    left: 0.5rem;
    top: 50%;
    z-index: 1;
}

.absoluteRightIconButton {
    position: absolute !important;
    right: 0.5rem;
    top: 50%;
}