/*
 * SPDX-FileCopyrightText: 2024 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.leftContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.rightContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.upperCase {
    text-transform: uppercase;
}

.infoContainer {
    width: fit-content;
}

.infoContainer div {
    line-height: 1.5;
}