/*
 * SPDX-FileCopyrightText: 2024 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.styledContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    bottom: 1rem;
    align-self: center;
    border-radius: 0.25rem;
    gap: 1rem;
    padding: 0.5rem 1rem;
}